<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/hrader" ></th:block>>
</head>

<body>

<div>
    <th:block th:include="fragments/navigation" ></th:block>
</div>


    <div class="container">
        <h2 class="text-center text-white">Upload Offer</h2>
        <form th:object="${offerAddBinding}" method="POST"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-white font-weight-bold" for="category">Vehicle Category</label>
                    <select th:field = "*{category}" id="category" class="form-control">
                        <option value="MOTORCYCLE"> Motorcycle </option>
                        <option value="CAR"> Car </option>
                        <option value="TRUCK"> Truck </option>
                    </select>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="model">Model</label>
                    <select th:field = "*{model}"  id="model" class="form-control">
                        <option value="">- Select a model -</option>
                        <optgroup  label="Brand name">
                            <th:block th:each="m : ${models}">
                            <option th:text="${m.name}"  th:value="${m.name}"></option>
                            </th:block>>
                        </optgroup>
                    </select>
                    <th:block th:each="e : ${#fields.errors('model')}">
                    <p class="errors alert alert-danger" th:text="${e}">
                    </p>
                    </th:block>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                    <select th:field = "*{engine}" id="engine" class="form-control" >
                        <option value="">- Select engine type -</option>
                        <option value="DIESEL">Diesel</option>
                        <option value="GASOLINE">Gasoline</option>
                    </select>
                    <th:block th:each="e : ${#fields.errors('engine')}">
                    <p class="errors alert alert-danger" th:text="${e}">
                    </p>
                    </th:block>>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                    <select th:field = "*{transmission}"  id="transmission" class="form-control" >
                        <option value="">- Select transmission type -</option>
                        <option value="AUTOMATIC"> Automatic </option>
                        <option value="MANUAL"> Manual </option>
                    </select>
                    <th:block th:each="e : ${#fields.errors('transmission')}">
                    <p class="errors alert alert-danger" th:text="${e}">
                        Transmission type is required.
                    </p>
                    </th:block>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="year" class="text-white font-weight-bold">Year</label>
                    <input th:field = "*{year}" id="year" type="number" min="1900" max="2099" step="1" class="form-control"
                           placeholder="Manufacturing year" />
                    <th:block th:each="e : ${#fields.errors('year')}">
                    <p class="errors alert alert-danger" th:text="${e}">
                        Manufacturing year is required.
                    </p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                    <input th:field = "*{mileage}"  id="mileage" type="number" min="0" max="900000" step="1000" class="form-control"
                           placeholder="Mileage in kilometers" />
                    <th:block th:each="e : ${#fields.errors('mileage')}">
                    <p class="errors alert alert-danger">
                        Mileage in kilometers is required.
                    </p>
                    </th:block>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input th:field = "*{price}" id="price" type="number" min="0" step="100" class="form-control" placeholder="Suggested price" />
                <th:block th:each="e : ${#fields.errors('price')}">
                <p class="errors alert alert-danger" th:text="${e}">
                    Suggested price is required.
                </p>
                </th:block>
            </div>
            <div class="form-group">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <textarea th:field = "*{description}" id="description" type="textarea" class="form-control" rows="3"
                          placeholder="Description" ></textarea>
                <th:block th:each="e : ${#fields.errors('description')}">
                <p class="errors alert alert-danger" th:text="${e}">
                    Description is required.
                </p>
            </div>
            <div class="form-group">
                <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
                <input th:field = "*{imageUrl}" id="imageUrl" type="url" class="form-control"
                          placeholder="Put vehicle image URL here" ></input>

            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>
		<!--    <footer>Create your custom footer :)</footer>-->
	</div>

</body>
</html>
